body {
    background-color: rgb(43, 168, 226);
}
.container {
    text-align: center;
    font-weight: bold;
    margin-top: 8em;
}
.passenger {
    background-color: crimson;
    color: white;
}
.owner {
    background-color: crimson;
    color: white;
}
h1 {
    font-weight: bolder;
}
